.nav,
.nav ul,
.nav ul li{
  height: 100%;
}
.nav ul{
  display: flex;
}
.nav ul li{
  display: flex;
  align-items: center;
}
.nav ul a{
  display: block;
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  color: white;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.9;
  padding: 10px 20px;
  background: none;
}
.nav ul a:hover{
  background: var(--highLightedText);
}
.mobileBtn{
  display: none;
  padding: 8;
  padding-bottom: 4px;
  border-radius: 5px;
}
.mobileBtn svg{
  height: 25px;
  width: 25px;
}
@media (min-width: 969px){
  .nav{
    display: block !important;
  }
}
@media (max-width: 969px) {
  .mobileBtn{
    display: block;
  }
  .nav{
    height: auto;
    position: fixed;
    top: 100px;
    right: 20px;
    left: 20px;

    padding: 20px;
    font-family: sans-serif;
    color: white;
    border-radius: 20px;
    background: var(--contentsBg);
    border: var(--highLight);
    box-shadow: var(--softShadow);
  }
  .nav ul{
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .nav ul li{
    display: flex;
    justify-content: center;
  }
  .nav ul li a{
    text-align: center;
    width: 100%;
  }
}
